backend/config/master.key
backend/db/*
backend/log/*
backend/log/development.log
backend/tmp/development_secret.txt
backend/tmp/restart.txt
backend/tmp/pids/server.pid
backend/infrastructure/.DS_Store
